<head>
  <link type="text/css " rel="stylesheet " href="../assets/css/styleIndex.css">
</head>

<div class="content-container">
  <span id="section-name">Todos nuestros productos</span>
  <br/>
  <div id="content">
    <div class="row">
      <div class="col-md-8" *ngFor='let product of products'>
        <div class="col-md-6">
          <span>{{product.name}}</span>
        </div>
        <ul class="info-list">
          <li>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span id="stock-ok">En stock</span>
          </li>
          <li>
            <a class="btn btn-default btn-info" [routerLink]="['/product', product.id]" role="button">
              Más información
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
