<div class="content-container">
  <span id="section-name">{{product.name}}</span>
  <br/>
  <div id="content">
    <div class="row">
      <div class="col-md-3 productPic" >
        <img src="{{product.image_url}}" width="150" height="150"/>
      </div>

      <div class="col-md-1 info">
        <span id="price">{{product.price}} $</span>
        <br/>
        <br/>
        <span id="description"></span>
      </div>

      <div class="col-md-2" [hidden]="showRateForm != 0">
        <div style="font-size: 1.4em;"><b>Valoración de los usuarios:</b> {{product.original_rating}} / 5</div>
      </div>

      <div class="col-md-2" [hidden]="ref.loggedUsername.length == 0 || showRateForm != 1">
        <div>
          <form>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" value="1" [(ngModel)]="productRate">
                1
                <span class="glyphicon glyphicon-star" aria-hidden="true" style="position:relative"></span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" value="2" [(ngModel)]="productRate">
                2
                <span class="glyphicon glyphicon-star" aria-hidden="true" style="position:relative; display: inline;"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true" style="position:relative; display: inline; padding-left: 0%"></span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" value="3" [(ngModel)]="productRate">
                3
                <span class="glyphicon glyphicon-star" aria-hidden="true" style="position:relative; display: inline;"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true" style="position:relative; display: inline; padding-left: 0%"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true" style="position:relative; display: inline; padding-left: 0%"></span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" value="4" [(ngModel)]="productRate">
                4
                <span class="glyphicon glyphicon-star" aria-hidden="true" style="position:relative; display: inline;"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true" style="position:relative; display: inline; padding-left: 0%"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true" style="position:relative; display: inline; padding-left: 0%"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true" style="position:relative; display: inline; padding-left: 0%"></span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" value="5" [(ngModel)]="productRate">
                5
                <span class="glyphicon glyphicon-star" aria-hidden="true" style="position:relative; display: inline;"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true" style="position:relative; display: inline; padding-left: 0%"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true" style="position:relative; display: inline; padding-left: 0%"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true" style="position:relative; display: inline; padding-left: 0%"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true" style="position:relative; display: inline; padding-left: 0%"></span>
              </label>
            </div>

            <button type="submit" [ngClass]="{'disabled': productRate == 0}" class="btn btn-default btn-addBasket" (click)="rateProduct()">Valorar producto</button>
          </form>
        </div>
      </div>

      <div class="col-md-2" [hidden]="showRateForm != 2">
        ¡Gracias por calificar este producto!
      </div>

      <div class="col-md-3 other-info" style="margin-left: 0%">
        <!-- <a class="btn btn-default btn-addBasket" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Añadir a la cesta
        </a> -->

        <br/>

        <div [hidden]="ref.loggedUsername.length == 0">
          <a class="btn btn-default btn-addBasket" role="button" (click)="buyProduct()"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Comprar directamente
          </a>
          <br/>
        </div>

        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span id="stockOk">En stock </span>
        <br/>
        <br/>
        <span id="shipping">Plazo de entrega 4-6 días hábiles.</span>
        <br/>
        <br/>
        <span id="freeShipping">Sin gastos de envío.</span>
      </div>

    </div>

  </div>
</div>
