<div>
  <h3 style="text-align: center;">{{section}}</h3>

  <div class="row">
    <div id="{{carousellId}}" class="carousel slide" data-ride="carousel" style="height: 350px">
      <ol class="carousel-indicators">
        <li *ngFor='let product of recommendationList; let i = index' data-slide-to="i" [ngClass]="{'active': i == 0}"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item" *ngFor='let product of recommendationList; let i = index' [ngClass]="{'active': i == 0}">
          <a [routerLink]="['/product', product._id]">
            <img src="{{product._imageURL}}" alt="{{product._name}}" height="100px"/>
            <div class="carousel-caption" style="color: #bf3288;">
              <h3>{{product._name}}</h3>
              <p></p>
            </div>
          </a>
        </div>
      </div>

      <a class="left carousel-control" href="#{{carousellId}}" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#{{carousellId}}" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<br>
<br>
