<div [hidden]="loggedIn">
  <form (ngSubmit)="onSubmit()" style="display: flex;">
    <div class="form-inline" style="padding-right: 20px;">
      <label for="username">Usuario</label>
      <input type="text" class="form-control" id="username"
             [(ngModel)]="username" name="username" >
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" >
    </div>

    <button type="button" class="btn btn-default" (click)="onSubmit()">Login</button>
  </form>
</div>

<div [hidden]="!loggedIn">
  {{username}}
  <button type="button" class="btn btn-default" (click)="logout()">Logout</button>
</div>

