<head>
  <link type="text/css " rel="stylesheet " href="../assets/css/styleIndex.css">
</head>

<div class="header">
  <a [routerLink]="['/products']">
    <img id="logo" src="../assets/img/pixmania.png" alt="Poxmanía">
  </a>

  <div class="account-and-basket">
    <div style="border: 1px groove dimgray; padding: 5px; background: gainsboro; border-radius: 5px;">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Mi cuenta
      <user #usercomponent (onLoggedIn)="handleLoggedInEvent($event)"></user>
    </div>
  </div>
</div>

<hr>

<router-outlet></router-outlet>

<h2 [hidden]="ref.loggedUsername == ''">Productos recomendados para ti, {{ref.loggedUsername}}</h2>
<recommendation-list [hidden]="ref.loggedUsername == ''"
                     [username]="userComponent.getUsername()"
                     [section]="sections[0]"
                     #recommendation1>
</recommendation-list>
<recommendation-list [hidden]="ref.loggedUsername == ''"
                     [username]="userComponent.getUsername()"
                     [section]="sections[1]"
                     #recommendation2>
</recommendation-list>
<recommendation-list [hidden]="ref.loggedUsername == ''"
                     [username]="userComponent.getUsername()"
                     [section]="sections[2]"
                     #recommendation3>
</recommendation-list>
<br>
<br>

<div class="footer">
  <ul id="who">
    <li>¿QUIÉNES SOMOS?</li>
    <li>Condiciones generales de venta de Poxmania</li>
    <li>Términos y condiciones uso de la plataforma</li>
    <li>Cookies</li>
    <li>Aviso legal</li>
    <li>Nuestros compromisos</li>
  </ul>

  <ul id="services">
    <li>SERVICIOS</li>
    <li>Hacer un pedido</li>
    <li>Modos de entrega</li>
    <li>Pago</li>
    <li>Registrarse</li>
    <li>Seguimiento de mi pedido</li>
    <li>Anular mi pedido</li>
    <li>Mi seguimiento SPV</li>
  </ul>

  <ul id="help">
    <li>AYUDA</li>
    <li>FAQ</li>
    <li>Opiniones consumidores Poxmania</li>
    <li>Mapa del sitio</li>
    <li>Vender en Poxmania</li>
    <li>Condiciones*</li>
    <li>Contacto</li>
  </ul>

  <ul id="join">
    <li>¡ÚNETE!</li>
    <li><img src="../assets/img/social-31-facebook.png"> Facebook</li>
    <li><img src="../assets/img/social-32-twitter.png"> Twitter</li>
    <li><img src="../assets/img/social-3-google-plus.png"> Google+</li>
    <li><img src="../assets/img/social-1-pinterest.png"> Pinterest</li>
  </ul>

</div>
