body {
    font-family: arial;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 0.9%;
}

.header{
    padding-bottom: 1%;
}

#logo{
    float: left;
    padding-bottom: 2%;
}

.header .col-md-3{
	float: left;
    background-color: #c6c6c6;
    margin-left: 20%;
    margin-right: auto;
    padding: 0;
    text-align: center;
}

.header .col-md-3 form{
	padding: 5px;
	margin-bottom: 0;
}

.header .col-md-3 input{
	height: 5%;
}

.header .col-md-3 .btn-default{
    color: #fff;
    background-color: #bf3288;
}

.account-and-basket{
    float: right;
    padding-top: 1%;
    padding-bottom: 1%;
}

.account-and-basket .btn-account{
    color: #777;
    font-weight: bold;
    font-size: 0.85em;
    background-color: #eaeaea;
    border: 1px solid #c6c6c6;
    margin-right: 10px;
}

.account-and-basket .btn-basket{
    color: #fff;
    font-weight: bold;
    font-size: 0.85em;
    background-color: #bf3288;
    border: 1px solid #a00062;
}

.navigation{
    clear: left;
    padding-top: 1%;
}

.navigation .home-icon{
    padding: 1%;
    background-color: #eaeaea;
    display: inline;
    border: 1px solid #aaa;
}

.navigation .btn-home{
    padding: 0.86%;
    background-color: #eaeaea;
    border: 1px solid #aaa;

}

.navigation .home-icon:hover{
    background-color: #bf3288;
    color: #fff;
}

.navigation .btn-home:hover{
    background-color: #bf3288;
    color: #fff;
}

.navigation .btn-section{
    padding: 1%;
    background-color: #bf3288;
    color: #fff;
    display: inline;
    border: 1px solid #aaa;
}

.navigation .sections{
    display: inline;
}

.navigation .sections .btn-default{
	float: left;
    padding: 1%;
    background-color: #eaeaea;
    border: 1px solid #aaa;
}

.navigation .sections .btn-default:hover{
    background-color: #bf3288;
    color: #fff;
}

.navigation .homeAndCurrectSection{
	clear: left;
	padding-top: 1%;
}

.navigation .priceSearch{
	text-align: center;
	margin-top: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	border: 0.1em solid #aaa;
	background-color: #eaeaea;
}

.navigation .priceSearch form{
	margin-bottom: 0%;
}

.navigation .priceSearch input{
	width: 50px;
}

.navigation .priceSearch .btn-default{
	margin-left: 2%;
	width: 150px;
}

.content-container #section-name{
    color: #bf3288;
    font-size: 2em;
    font-weight: bold;
}

.content-container #content{
    padding-top: 1%;
    padding-bottom: 2%;
}

#content .row{
	margin: 0;
}

.col-md-3 {
    padding: 10px;
    text-align: center;
    border: 1px solid #c0c0c0;
}

.productPic{
	width: 200px;
	height: 175px;
	float: left;
}

.info{
	padding-left: 1%;
	padding-right: 1%;
}

.info #price{
	color: #f00909;
	font-weight: bold;
  font-size: 1.5em;
}

#content .other-info{
	float: right;
	text-align: center;
}

#content .btn-addBasket{
	color: #000000;
    font-weight: bold;
    font-size: 1.17em;
    background-color: #d8eb3f;;
    width: 80%;
}

#content .btn-addBasket .glyphicon-shopping-cart, .glyphicon-menu-right, .glyphicon-star{
	color: #bf3288;
}

#content .glyphicon-ok{
	color: #008000;
}

#content #stockOk{
	color: #008080;
    font-weight: bold;
}

#content #shipping{
	color: #008080;
    font-weight: bold;
}

#content #freeShipping{
	color: #808000;
    font-weight: bold;
}

.footer ul{
    list-style-type:none;
    display: inline-block;
    float: left;
    padding-left: 0;
    padding-right: 10%;
}

.footer ul li:first-child{
    color: #bf3288;
    font-weight: bold;
}

.footer ul li{
    padding-bottom: 2%;
}
